.chat-header{
    border: 1px solid rgb(208, 199, 199);
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.title {
    font-weight: 600;
    font-size: larger;
}

.chat-window {
    border: 1px solid;
    height: 100%;
}

.chat-parent-box{
    position: relative;
    height: 89vh;
}

.user-parent-box{
    height: 14vh;
    position: relative;
}

.bot-chat {
    width: 38%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: beige;
    border: 1px solid rgb(216, 188, 188);
    border-radius: 0px 5px 5px 5px;
}

.user-chat{
    width: 25%;
    padding: 10px;
    position: absolute;
    right: 0;
    margin-right: 18px;
    margin-top: 10px;
    background-color: rgb(110, 110, 232);
    color: white;
    border: 1px solid rgb(216, 188, 188);
    border-radius: 5px 0px 5px 5px;
}

.input-styling {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.chat-list-box{
    height: 100%;
    overflow-x: scroll;
}