.search-style{
    float: left;
    width: 100%;
}

.search-heading {
    font-weight: 500;
    font-size: medium;
}

.input-style {
    width: 100%;
    outline: 0;
    margin-top: 10px;
    border-width: 0 0 2px;
}